*
!.gitignore
!README.md

!scripting/
scripting/*
!scripting/nativevotes_mapchooser.sp
!scripting/nativevotes_nominations.sp
!scripting/nativevotes_rockthevote.sp
!scripting/nativevotes-basecommands.sp
!scripting/nativevotes.sp
!scripting/nextmap.sp
!scripting/reverts.sp
!scripting/chat-adverts.sp
!scripting/changelevel.sp
!scripting/votingban.sp
!scripting/votescramble.sp
!scripting/legacy
!scripting/legacy/*

!scripting/disablesoul.sp
!scripting/EdictLimiter.sp
!scripting/teamcatch.sp

!gamedata/
gamedata/*
!gamedata/reverts.txt
!gamedata/legacy
!gamedata/legacy/*
