*
!.gitignore
!README.md

!scripting/
scripting/*
!scripting/nativevotes_mapchooser.sp
!scripting/nativevotes_nominations.sp
!scripting/nativevotes_rockthevote.sp
!scripting/nativevotes-basecommands.sp
!scripting/nativevotes.sp
!scripting/nextmap.sp
!scripting/reverts.sp
!scripting/chat-adverts.sp
!scripting/changelevel.sp
!scripting/votescramble.sp
!scripting/legacy
!scripting/legacy/*
!scripting/disablesoul.sp
!scripting/teamcatch.sp

#includes
!scripting/include/
scripting/include/*
!scripting/include/morecolors.inc
!scripting/include/tf2items.inc
!scripting/include/tf2attributes.inc
!scripting/include/tf2utils.inc

!gamedata/
gamedata/*
!gamedata/reverts.txt
!gamedata/legacy
!gamedata/legacy/*
